.spinner-main {
  position: relative;
  margin-top: 4%;
  margin-bottom: 12%;
}

.spinner {
  height: 50px;
  width: 50px;
  animation: rotate 1s linear infinite;
  z-index: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  margin: auto;
}

.path {
  stroke: #0a9bdf;
  stroke-linecap: round;
  animation: loading 2s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loading {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
    stroke: #0a9bdf;
  }

  25% {
    stroke: #4f5af5;
  }

  40% {
    stroke: #7d10d6;
  }

  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
    stroke: #d610d6;
  }

  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
    stroke: #d61063;
  }
}
